/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .a-place{
    flex-direction: column;
    height: 885px;
  }

  .left-part-1{
      margin-top: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 500px;
      width: 95%;
  }

  .right-part-1{
      position: absolute;
      width: 100%;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 50px;
  }

  .right-part-1 h1{
      padding-top: 20px;
  }

  .desc{
      margin-top: 500px;
  }

  .in-love{
      flex-direction: column;
      height: 885px;
  }

  .left-part-2{
      position: absolute;
      width: 100%;
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 50px;
  }

  .left-part-2 h1{
      padding-top: 20px;
  }

  span{
      display: inline-block;
  }

  .left-part-2 p{
      margin-top: 530px;
  }

  .right-part-2{
      margin-top: 100px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 500px;
      width: 95%;
  }

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }
    .what-they-say h1, p {
        color: rgb(255, 255, 255);
    }
    .follow-us h2 {
        color: rgb(90, 107, 79); 
    }
    .content-item {
        width: 100%;
        margin: 0 auto;
    }
    .button {
        width: 50%;
        text-align: center;
    }
    .top-wrapper h1 {
        font-size: 20px;
        line-height: 32px;
    }
    .top-wrapper h2 {
        font-size: 20px;
        line-height: 32px;
    }
    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .a-place{
    flex-direction: column;
    height: 885px;
  }

  .left-part-1{
      margin-top: 90px;
      height: 300px;
      width: 90%;
      margin-left: 20px;
  }

  .right-part-1{
      position: absolute;
      width: 100%;
      padding-left: 20px;
      padding-right: 50px;
  }

  .right-part-1 h1{
      font-size: 30px;
      top: 30px;
  }

  .desc{
      margin-top: 330px;
  }

  .in-love{
      flex-direction: column;
      height: 885px;
  }

  .left-part-2{
      position: absolute;
      width: 100%;
      padding-left: 20px;
      padding-right: 50px;
  }

  .left-part-2 h1{
      font-size: 30px;
      line-height: 0;
  }

  span{
      margin-top: 40px;
  }

  .left-part-2 p{
      margin-top: 330px;
  }

  .right-part-2{
      margin-top: 110px;
      height: 300px;
      width: 90%;
      margin-left: 20px;
  }

  .header-right {
    display: none;
  }
  
  span.menu-icon {
    display: block;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
    .content-item {
        width: 100%;
    }
    .button {
        width: 100%;
        margin: 0 auto;
    }
    .top-wrapper {
        text-align: center;
    }
    .top-wrapper h1 {
        font-size: 14px;
        line-height: 36px;
    }
    .top-wrapper h2 {
        font-size: 14px;
        line-height: 36px;
        width: 100%;
    }
    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }
}
