* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.a-place{
  height: 785px;
  width: 100%;
  background-color: hsl(137, 11%, 87%);
  display: flex;
}

.left-part-1{
  background-image: url("img.png");
  height: 785px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: foto;
  animation-duration: 1s;
}

.right-part-1{
  width: 50%;
  color: #485342;
  padding-top: 15%;
  padding-left: 8%;
  padding-right: 15%;
}

.right-part-1 h1{
  font-family: "Jacques Francois";
  font-size: 40px;
  padding-bottom: 30px;
}

.right-part-1 p{
  font-family: "poppins";
  font-size: 14px;
  line-height: 2;
  padding-bottom: 10px;
}

.right-part-1 a{
  margin-top: 20px;
  padding: 5px;
  font-family: "poppins semibold";
  background-color: #DBE2DD;
  font-size: 14px;
  font-style: bold;
  color: #485342;
  width: 200px;
  border: 3px solid #485342;
  border-radius: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.in-love{
  height: 785px;
  width: 100%;
  background-color: #485342;
  display: flex;
}

.left-part-2{
  width: 50%;
  color: white;
  padding-top: 15%;
  padding-left: 8%;
  padding-right: 12%;
}

.left-part-2 h1{
  font-family: "Jacques Francois";
  font-size: 30px;
}

span{
  display: block;
}

.left-part-2 p{
  margin-top: 60px;
  font-family: "poppins";
  font-size: 14px;
  line-height: 2;
}

.left-part-2 a{
  margin-top: 20px;
  padding: 3px;
  font-family: "poppins semibold";
  background-color: #485342;
  font-size: 14px;
  font-style: bold;
  color: white;
  width: 200px;
  border: 3px solid white;
  border-radius: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.right-part-2{
  background-image: url("img2.png");
  height: 785px;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.what-they-say {
    height: 100%;
    background-color: #2F3A29;
    padding: 16px 0px;
}
.what-they-say h1 {
    padding-top: 60px;
    color: #ffffff;
    font-family: "Jacques Francois";
    font-size: 48px;
    text-align: center;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.what-they-say p {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: "Lucida Sans Regular";
    text-align: center;
    padding-bottom: 60px;
}
.content-item {
    text-align: center;
    height: 100%;
    background-color: #DBE2DD;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    width: 100%;
    display: block;
}
.follow-us h2 {
    padding-top: 60px;
    color: #485342;
    font-family: "Jacques Francois";
    font-size: 48px;
    text-align: center;
    background-color: #DBE2DD;
    padding-bottom: 30px;
    height: 100%;
    width: 100%;
}
.button {
    margin-bottom: 20px;
    padding: 5px;
    font-family: "poppins semibold";
    background-color: #C7CEC9;
    font-size: 14px;
    font-style: bold;
    color: #DBE2DD;
    width: 200px;
    border: 3px solid #485342;
    border-radius: 15px;
    letter-spacing: 3px;
    text-decoration: none;
    text-align: center;
    height: 100%;
}

.subscribe {
  background-color: #485342;
  height: 370px;
  padding-bottom: 80px;
}

.container{
  display: flex;
  color: white;
}

.left{
  padding:110px 200px 110px 150px;
  width: 50%;
}

.left h2{
  font-family: "Jacques Francois";
  font-size: 45px;
}

.left p{
  font-family: "poppins";
  font-size: 14px;
  padding-top: 20px;
}

.right{
  padding:100px 200px 110px 0px;
  width: 50%;
}

.right p{
  font-family: "poppins";
  font-size: 14px;
  padding-bottom: 10px;
}

.text{
  width: 500px;
  height: 50px;
}

.btn{
  margin-top: 20px;
  padding: 5px;
  font-family: "poppins semibold";
  background-color: #485342;
  font-size: 14px;
  font-style: bold;
  color: white;
  width: 200px;
  border: 3px solid white;
  border-radius: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

footer {
  padding:30px 0;
  background-color: hsl(137, 11%, 87%);
  color: #485342;
}

footer p{
  text-align: center;
}

.licence{
  height: 800px;
  background-color: #C7CEC9;
}

.licence h1 {
  padding-top: 60px;
  color : #485342;
  font-family: "Jacques Francois";
  font-size:48px;
  text-align: center;
}

.utama{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.konten{
  padding: 30px;
}

.konten p {
  font-family:"Jacques Francois";
  font-size: 20px;
  text-align: center;
  color: #485342;
  padding: 10px;
}

.konten a {
  margin-top: 20px;
  padding: 5px;
  font-family: "poppins semibold";
  background-color: #C7CEC9;
  font-size: 14px;
  font-style: bold;
  color: #485342;
  width: 200px;
  border: 3px solid #485342;
  border-radius: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

/* @media (max-width: 1000px) {

  h1 {
      color: rgb(90, 107, 79); 
  }
  .content-item {
      width: 50%;
  }
  .button {
      width: 50%;
  }
  .content-item p {
      width:50%;
 }
}

@media (max-width: 670px) {
  h1 {
      color: rgb(90, 107, 79); 
  }
  .content-item {
      width: 50%;
  }
  .button {
      width: 50%;
  }
  .content-item p {
      width:50%;
 }
} */

.container-header{
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left {
  font-family: "Jacques Francois";
  font-size: 15px;
  float: left;
  padding-top: 10px;
  color: white;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  font-family: "Jacques Francois";
  font-size: 14px;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  text-decoration: none;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Tambahkan CSS untuk menu-icon */
.menu-icon{
  color: white;
  float: right;
  display: none;
}

.main{
  height: 800px;
  background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/YD0zPnwVMki25lZE/front-m7VoJwB28ZFLB9VQ.png");
  padding: 15% 40% 15% 5%;
}

.main h2{
  font-family: "Jacques Francois";
  font-size: 48px;
  color: white
}

.main h1{
  font-family: "Jacques Francois";
  font-size: 100px;
  color: white
}

.main p{
  font-family: "poppins";
  font-size: 18px;
  color: white;
}

.main a{
  margin-top: 20px;
  padding: 5px;
  font-family: "poppins semibold";
  background-color: transparent;
  font-size: 14px;
  font-style: bold;
  color: white;
  width: 200px;
  border: 3px solid white;
  border-radius: 15px;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
